@using AvansProjeClient.Models.VM.AdvanceVMs
@{
    List<AdvancePaymentVM> advancePaymentList = (List<AdvancePaymentVM>)TempData["resultAdvancePaynemt"];
}
<title>Geçmiş Avanslar</title>

<div class="container">
    <h2>Geçmiş Avans Taleplerim</h2>

    <table class="table table-bordered table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Çalışanın Adı</th>
                <th scope="col">Ünvanı</th>
                <th scope="col">Birimi</th>
                <th scope="col">Talep Tutarı</th>
                <th scope="col">Talep Oluşturma Tarihi</th>
                <th scope="col">İstenilen Tarih</th>
                <th scope="col">Proje</th>
                <th scope="col">Talep Durumu</th>
                <th scope="col">Onaylayan</th>
                <th scope="col">Onaylayan Unvanı</th>
                <th scope="col">Onay Tarihi</th>
                <th scope="col">Onaylanan Tutar</th>
                <th scope="col">Belirlenen Ödeme Tarihi</th>
                <th scope="col">Ödeme Yapılan Tarih</th>
                <th scope="col">Geri Ödeme Durumu</th>
                <th scope="col">İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in advancePaymentList)
            {
                <tr>
                    <td>@item.WorkerName</td>
                    <td>@item.TitleName</td>
                    <td>@item.UnitName</td>
                    <td>@item.AdvanceAmount</td>
                    <td>@item.RequestDate.ToShortDateString()</td>
                    <td>@item.DesiredDate.ToShortDateString()</td>
                    <td>@item.ProjectName</td>
                    <td>@item.ApprovalName</td>
                    <td>@item.ApproveRecejtedName</td>
                    <td>@item.ApproveRecejtedTitle</td>
                    <td>@item.ApproveDeclinedDate.ToShortDateString()</td>
                    <td>@item.ApprovedAmount</td>
                    <td>@item.DeterminedAdvanceDate.ToShortDateString()</td>
                    @if (item.PaymentDate == null)
                    {
                        <td>--</td>
                    }
                    else
                    {
                        <td>@item.PaymentDate.Value.ToShortDateString()</td>
                    }
                    <td>
                        @{var result = item.PaybackStatus == true ? "Geri Ödeme Yapıldı" : "Geri Ödeme Bekleniyor";}
                        @result
                    </td>
                    <td><a class="btn btn-sm btn-outline-primary" asp-action="ResponseAdvanceApproveDetail" asp-controller="Advance" asp-route-advanceID="@item.AdvanceID">Ödeme</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
