@using System.Security.Claims
@using AvansProjeClient.Models.VM.AdvanceVMs
@model AvansProjeClient.Models.VM.AdvanceVMs.AdvanceApproveStatusUpdateVM
@{
    AdvanceApproveVM data = (AdvanceApproveVM)TempData["advanceApproveDetail"];
    int workerID = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
    var title = User.FindFirst(ClaimTypes.Role)?.Value;
}
<div class="container">
    <div class="row">
        <div class="card col-md-6 rounded-card bg-primary text-white">
            <div class="card-body">
                <strong>Çalışanın Adı:</strong> @data.WorkerName <br>
                <strong>Unvanı:</strong> @data.TitleName <br>
                <strong>Birimi:</strong> @data.UnitName <br>
                <strong>Talep Oluşturma Tarihi:</strong> @data.RequestDate.Value.ToShortDateString() <br>
                <strong>Alınmak İstenen Tarih:</strong> @data.DesiredDate.Value.ToShortDateString() <br>
                <strong>Proje:</strong> @data.ProjectName
            </div>
        </div>
        <div class="card col-md-6 rounded-card bg-primary text-white">
            <div class="card-body">
                <strong>Talep Edilen Tutar:</strong> @data.AdvanceAmount <br>
                <strong>Onaylanan Tutar:</strong> @data.ApprovedAmount <br>
                <strong>Son Durumu:</strong> @data.ApprovalName
            </div>
        </div>
        <div>
            @if (title != "FM" && title != "Ön Muhasebe")
            {
                <div class="card col-md-6 mx-md-auto rounded-card">
                    <form method="post">

                        <div class="card-body">

                            <label>Uygun Görülen Tutar</label>
                            <input type="number" asp-for="ApprovedAmount" />
                            <input type="hidden" asp-for="AdvanceID" value="@data.AdvanceID" />
                            <input type="hidden" asp-for="ApproverOrRejecterID" value="@workerID" />
                            <input type="hidden" asp-for="ApproveAdvanceStatusID" value="@data.ApproveStatusID" />
                        </div>
                        <div class="card-body approval-buttons">
                            <input type="submit" class="btn btn-danger" asp-action="RejectAdvance" asp-controller="Advance" value="Red" />
                            <input type="submit" class="btn btn-success" asp-action="ApproveAdvance" asp-controller="Advance" value="Onay" />
                        </div>
                    </form>
                </div>
            }

            else if (title == "FM")
            {
                <div class="card col-md-6 mx-md-auto rounded-card">
                    <form method="post">

                        <div class="card-body">

                            <label >Avansın ödeneceği tarihi seçiniz.</label>
                            <input type="date" asp-for="DeterminedAdvanceDate" class="form-control" placeholder="Avansın ödeneceği tarihi seçiniz." min="@DateTime.Now.ToString("yyyy-MM-dd")">
                            <input type="hidden" asp-for="AdvanceID" value="@data.AdvanceID" />
                            <input type="hidden" asp-for="ApproverOrRejecterID" value="@workerID" />
                            <input type="hidden" asp-for="ApproveAdvanceStatusID" value="@data.ApproveStatusID" />
                            <input type="hidden" asp-for="ApprovedAmount" value="@data.ApprovedAmount" />
                        </div>
                        <div class="card-body approval-buttons">
                            <input type="submit" class="btn btn-success" asp-action="DetermineAdvanceDate" asp-controller="Advance" value="Kaydet" />
                        </div>
                    </form>
                </div>

            }

            else if (title == "Ön Muhasebe")
            {
                <div class="card col-md-6 mx-md-auto rounded-card">
                    <form method="post">

                        <div class="card-body">

                            <label>Makbuz No:</label>
                            <input type="number" asp-for="ApprovedAmount" />
                            <input type="hidden" asp-for="AdvanceID" value="@data.AdvanceID" />
                            <input type="hidden" asp-for="ApproverOrRejecterID" value="@workerID" />
                            <input type="hidden" asp-for="ApproveAdvanceStatusID" value="@data.ApproveStatusID" />
                        </div>
                        <div class="card-body approval-buttons">
                            <input type="submit" class="btn btn-success" asp-action="AdvancePay" asp-controller="Advance" value="Öde" />
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
